<%= render 'shared/errors', obj: @contract %>

<div class="row">
    <div class = "col-md-8 col-md-offset-2">
       
        <%= form_for(@contract, html: { multipart: true }) do |f| %>
            <%= f.label :desc %>
            <%= f.text_field :desc, class: 'form-control' %>
            
            <%= f.label :comment %>
            <%= f.text_area :comment, rows: 10, class: 'form-control' %>
         
            <%= f.label :value %>
            <%= f.number_field :value, class: 'form-control' %>
            
            <%= f.label :saving %>
            <%= f.number_field :saving, class: 'form-control' %>
            
            <%= f.label :dateFrom %>
            <%= f.date_select :dateFrom, class: 'form-control' %>
            
            <%= f.label :dateTo %>
            <%= f.date_select :dateTo, class: 'form-control' %>
     
            <div class = 'form-group'>
                <%= f.label :supplier, class: 'control-label' %>
                <div class="form-control">
                    <%= collection_select( :contract, :supplier_id, Supplier.all, :id, :name, {}, { :multiple => false } ) %>
                </div>
             </div>
            
           <div class = 'control-group'>
                <%= f.label :dept, class: 'control-label' %>
                <div class="form-control">
                    <%= collection_select( :contract, :dept_id, Dept.all, :id, :name, {}, { :multiple => false } ) %>
                </div>
             </div>
         <br/>

            <strong>Regions:</strong>
            <%= f.collection_check_boxes :region_ids, Region.all, :id, :name do |cb| %>
            <% cb.label(class: "checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
            <% end %>
            <br>   
            
            <strong>Agreement Types: </strong>
            <%= f.collection_check_boxes :agreement_type_ids, AgreementType.all, :id, :name do |cba| %>
            <% cba.label(class: "checkbox") {cba.check_box(class: "checkbox") + cba.text} %>
            <% end %>
            <br><br>
            
            <%= f.label :image %>
            <span class="picture">
                <%= f.file_field :picture, class: 'form-control', accept: 'image/jpeg,image/gif,image/png' %>
            </span>
           

            <%= f.label :attachment %>
               <%= f.file_field :attachment, class: 'form-control' %>
  
            <%= f.submit(@contract.new_record? ? 'Create Contract' : 'Edit Contract', class: 'btn btn-success') %>
        <% end %>
    </div>
</div>

<script type="text/javasript">
    $('#contract_picture').bind('change', function() {
        size_in_megabytes = this.files[0].size/1024/1024;
        if(size_in_megabytes > 5) {
            alert('Maximum file size is 5MB - please upload a smaller file');
        }
    });
</script> 