<%= render 'shared/page_title', title: 'All Contracts' %>

<div class="row">
  <h1>Search Contracts</h1>
    <div class="pull-left">
      <%= form_tag contracts_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :desc => nil %>
      <% end %>
    </div>
</div>

<hr/>

 <% if logged_in? and current_user.admin?  %>

<br>
<div id="stat_wrap">
    <div id="inner1"><h1>Total Savings: <br>&euro;<%= @savings %></h1></div>
    <div id="inner2"><h1>Total Value:<br>&euro;<%= @value %></h1></div>
    <div id="inner3"><h1>Total Contracts:<br><%= @concount %></h1></div>
    
</div>

<% end %>

<ul class ="nav nav-tabs">
    <li class="active">
        <%= link_to 'Contracts', contracts_path %>
    </li>
    <li>
        <%= link_to 'Users', users_path %>
    </li>
    
</ul>


<h1>Contract Listing</h1>


<% @contracts.each do |contract| %>

    <div class = "row">
        <div class = "col-md-2">
            <section class="user_info center">
                <%= link_to gravatar_for(contract.user, size: 100), user_path(contract.user) %>
                <h5>Username: <%= contract.user.username %></h5>
            </section>
            
        </div>
        
        <div class = "col-lg-6 well">
            <h4><%= link_to contract.desc, contract_path(contract) %></h4>
            <p><%= contract.region %></p>
            <% if contract.agreement_types.any? %>
            <p><b>Agreement Type: </b><%= render contract.agreement_types %></p>
            <% end %>
            <% if contract.regions.any? %>
            <p><b>Region(s): </b><%= render contract.regions %></p>
            <% end %>
            <p>
                <span class ='quiet'><small>created: <%= time_ago_in_words(contract.created_at) %> ago</small></span>&nbsp; | &nbsp;
                <span class ='quiet'><small>updated: <%= time_ago_in_words(contract.updated_at) %> ago</small></span>
            </p>
            </p>
            <div class="pull-right">
                
                <%= link_to like_contract_path(contract, like: true), method: :post do %>
                    <i class="glyphicon glyphicon glyphicon-ok"></i> &nbsp <%= contract.thumbs_up_total %>
                    
                <% end %>
                &nbsp;&nbsp;&nbsp;&nbsp;
                 <%= link_to like_contract_path(contract, like: false), method: :post do %>
                    <i class="glyphicon glyphicon glyphicon-remove"></i> &nbsp <%= contract.thumbs_down_total %>
                    
                <% end %>
            </div>
        </div>
        
        <div class="col-md-4">
            <%= image_tag(contract.picture.url, size: "250x150", class: "gravatar") if contract.picture? %>
        </div>
        
    </div>
    <hr/>
<% end %>
<%= will_paginate %>