<p>
    <h1>Create a new Contract</h1>
    <hr/>
    
</p>

<div class="row">
    <div class = "col-md-8 col-md-offset-2">
       
        <%= form_for @contract do |f| %>
            <%= f.label :desc %>
            <%= f.text_field :desc %>
            
            <%= f.label :region %>
            <%= f.text_field :region %>
            
            <%= f.label :saving %>
            <%= f.number_field :saving %>
            
            <%= f.label :supplier %>
            <%= f.text_field :supplier %>
            
            <%= f.label :contact %>
            <%= f.text_field :contact %>
            
            <%= f.label :dept %>
            <%= f.text_field :dept %>
            
            <%= f.label :download %>
            <%= f.text_field :download %>
            
            <%= f.submit 'Create Contract', class: 'btn btn-success' %>
        <% end %>
    </div>
    
</div>