<p>
    <h1><%= @contract.desc %></h1>
    
</p>

<div class="row">
    
    <div class="col-md-4 pull-right center">
    <%= gravatar_for @contract.user, size: 200 %>
    <p>
        
        <h5>Created by: <%= @contract.user.username %></h5>
    </p>
    </div>
    <div class="col-md-8">
        <h3><%= @contract.desc %></h3>
        <div class="well">
            <p>
                <strong>Details:</strong>
            </p>
            <%= @contract.value %>
            
        </div>
    </div>
</div>

<h5><%= link_to 'Return to Contracts Listing', contracts_path, class: "btn btn-warning btn-small" %></h5>