<%= render 'shared/page_title', title: @contract.desc %>

<div class="row">
    
    <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@contract.user, size: 200), user_path(@contract.user) %>
    <p>
        
        <h5>Created by: <%= @contract.user.username %></h5>
    </p>
    </div>
    <div class="col-md-8">
        <% if logged_in? and (@contract.user == current_user || current_user.admin?)  %>
        <%= link_to 'Edit Contract', edit_contract_path, class: 'btn btn-warning pull-right' %>
       <% end %>
        <h3><%= @contract.desc %></h3>
        <div class="show_contract">
            <%= image_tag(@contract.picture.url, class: "gravatar") if @contract.picture? %>
        </div>
        <div class="well">
            <% if @contract.agreement_types.any? %>
             <p><b>Agreement Type: </b><%= render @contract.agreement_types %></p>
             <% end %>
              <% if @contract.regions.any? %>
            <p><b>Region(s): </b><%= render @contract.regions %></p>
            <% end %>
            <p>
                <strong>Details:</strong>
            </p>
            <%= @contract.value %>
            <div class="pull-right">
                <%= link_to like_contract_path(@contract, like: true), method: :post do %>
                    <i class="glyphicon glyphicon glyphicon-ok"></i> &nbsp <%= @contract.thumbs_up_total %>
                    
                <% end %>
                &nbsp;&nbsp;&nbsp;&nbsp;
                 <%= link_to like_contract_path(@contract, like: false), method: :post do %>
                    <i class="glyphicon glyphicon glyphicon-remove"></i> &nbsp <%= @contract.thumbs_down_total %>
                    
                <% end %>
            </div>
        </div>
    </div>
</div>

<h5><%= link_to 'Return to Contracts Listing', contracts_path, class: "btn btn-warning btn-small" %></h5>