<%= render 'shared/page_title', title: @contract.desc %>

<div class="row">
    
    <div class="col-md-4 center">
        <h2>About The Buyer</h2>
    <%= link_to gravatar_for(@contract.user, size: 200), user_path(@contract.user) %>

        <h5><b>Contact Name:</b></h5><h5><%= @contract.user.username %></h5>
        <h5><b>Email Address:</b></h5><h5><%= mail_to @contract.user.email do %><%= @contract.user.email %><% end %>

    </div>
    <div class="col-md-8">
        <% if logged_in? and (@contract.user == current_user || current_user.admin?)  %>
        <%= link_to 'Edit Contract', edit_contract_path, class: 'btn btn-warning pull-right' %>
       <% end %>
       <% if logged_in? and current_user.admin? %>
           <%= link_to "Delete Contract", @contract, class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
       <% end %>
        <h3>Title: <%= @contract.desc %></h3>
        <div class="show_contract">
            <%= image_tag(@contract.picture.url, class: "gravatar") if @contract.picture? %>
        </div>
        <div class="well">
            <table class="table table-bordered table-striped" style="width:90%">
              <thead>
                <tr>
                    <th>Contract Summary</th>
                </tr>
            </thead>
            <tbody>
                 <tr> <td><strong>Description:</strong> <%= @contract.desc %></td></tr>
                 <tr> <td><strong>Comment:</strong> <%= @contract.comment %></td></tr>
                 <tr> <td> <% if @contract.agreement_types.any? %><b>Agreement Type: </b><%= render @contract.agreement_types %><% end %></td> </tr>
                 <tr> <td> <% if @contract.regions.any? %><b>Region(s): </b><%= render @contract.regions %><% end %></td>    </tr> 
                 <tr> <td><strong>Department:</strong> <%= @contract.dept.name %></td></tr>
                 <tr> <td><strong>Supplier:</strong><%= @contract.supplier.name %></td></tr>
                 <tr>
                    <th>Financial Summary</th>
                 </tr>
                 <tr> <td><strong>Contract Value: &euro;</strong><%= @contract.value %> </td></tr>
                 <tr> <td><strong>Savings: &euro;</strong><%= @contract.saving %></td></tr>
                 <tr>
                    <th>Validity Period</th>
                 </tr>
                 <tr> <td><strong>Date From:</strong><%= @contract.dateFrom.strftime("%m/%d/%Y") %></td></tr>
                 <tr> <td><strong>Date To:</strong><%= @contract.dateTo.strftime("%m/%d/%Y") %></td></tr>
                 </tr>
            </tbody>
            </table>
            
             <% if @contract.attachment_url !=nil %>
                <strong>Download This Contract:</strong><br>
                <%= link_to "Download Contract", @contract.attachment_url, class: 'btn btn-danger', target: "_blank" %>
            <% end %>
           
            <div class="row">
          
            <div class="pull-right">
            <h5><b><i>Was this information useful?</i></b></h5>     
                <%= link_to like_contract_path(@contract, like: true), method: :post do %>
                    <i class="glyphicon glyphicon glyphicon-ok"></i> &nbsp <%= @contract.thumbs_up_total %>
                    
                <% end %>
                &nbsp;&nbsp;&nbsp;&nbsp;
                 <%= link_to like_contract_path(@contract, like: false), method: :post do %>
                    <i class="glyphicon glyphicon glyphicon-remove"></i> &nbsp <%= @contract.thumbs_down_total %>
                    
                <% end %>
            </div>
            </div>
        </div>
    </div>
</div>

<h5><%= link_to 'Return to Contracts Listing', contracts_path, class: "btn btn-info btn-small" %></h5>