<%= render 'shared/page_title', title: @contract.desc %>

<div class="row">
    
    <div class="col-md-4 pull-right center">
    <%= gravatar_for @contract.user, size: 200 %>
    <p>
        
        <h5>Created by: <%= @contract.user.username %></h5>
    </p>
    </div>
    <div class="col-md-8">
        <%= link_to 'Edit Contract', edit_contract_path, class: 'btn btn-warning pull-right' %>
        <h3><%= @contract.desc %></h3>
        <div class="show_contract">
            <%= image_tag(@contract.picture.url, class: "gravatar") if @contract.picture? %>
        </div>
        <div class="well">
            <p>
                <strong>Details:</strong>
            </p>
            <%= @contract.value %>
            
        </div>
    </div>
</div>

<h5><%= link_to 'Return to Contracts Listing', contracts_path, class: "btn btn-warning btn-small" %></h5>