<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
 <% if logged_in? && current_user.admin? %>
<%= link_to "New Template", new_template_path, class: "btn btn-primary" %>
<% end %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    
     <% @templates.each do |template| %>
      <tr>
        <td><%= template.name %></td>
        <td><%= link_to "View Template", template.attachment_url, target: "_blank" %></td>
        <td><%= button_to "Delete",  template, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{template.name}?" %></td>
      </tr>
    <% end %>
    
    
    
    
   
  </tbody>
</table>