<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supplier.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<%= link_to 'Cancel', edit_supplier_path(@supplier), class: "btn btn-warning" %> |
<%= link_to 'OK', suppliers_path, class: "btn btn-success" %>
